*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

/*
Overall Layout
*/

.wrap {
	display:flex;
	flex-direction:column;
}

.wrap > * {
	flex:1 1 auto;
}

/*
header
*/

.app-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

/*
Content
*/

.content {
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	padding-top:120px;
}

.img {
background-image:url(images/image.svg);
height: 587.15px;
left: -34px;
top: 104px;
background-repeat: no-repeat;
background-size: cover;
}


/*
Icon Bar
*/

.icon-bar {
	display: flex;
	padding-top: 10px;
}

.icon-bar a {
	flex:1;
}

/*test*/

.app-header{
height: 92px;
}

.mylogo {
width:120px;
height:20px;
padding-left: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #6070FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.bars {
	color:#6070FF;
	padding-right: 20px;
}

.fa-bars {
	font-size: 58px;
}

.copy {

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
padding-left:20px;
/* or 130% */

display: flex;
align-items: center;

/* Neutrals/N800 */

color: #172B4D;

}

.paragraph {
	/* Body / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
/* or 150% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.capital {
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding-left:20px;
padding-top: 10px;
text-transform: uppercase;

/* identical to box height, or 150% */


/* Primary/B300 */

color: #7F8CFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.icon{
left: 6.4%;
right: 88.27%;
top: 77.81%;
bottom: 18.88%;
padding-left: 20px;

/* Neutrals/N400 */

color: #505F79;
}


i:hover {
	color: #CBCDFF;
	transition: 0.3s;
}

i:active {
	color: #3244E7;
}