@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
}

nav a {
  text-decoration: none;
  font-size: 30px;
  color: #6070ff;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 120px 10%;
  background-image: url(images/image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-bar {
  display: flex;
  padding-top: 10px;
}

.icon-bar li {
  display: inline-block;
}

/* test */

.mylogo {
  width: 120px;
  height: 20px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.bars {
  color: #6070ff;
  cursor: pointer;
}

.fa-bars {
  font-size: 58px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  color: #344563;
}

.capital {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #7f8cff;
}

.icon {
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
  padding-left: 20px;
  color: #505f79;
}

i:hover {
  color: #cbcdff;
  transition: 0.3s;
}

i:active {
  color: #3244e7;
}

/*
Works
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  background-color: white;
  width: 85%;
  height: auto;
  margin: 114px auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
}

img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.ref {
  display: flex;
  flex-direction: row;
}

.client {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #344563;
}

.role .year {
  font-style: normal;
  font-weight: 400;
  color: #7a869a;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
}

.leftblock {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  margin: 5px auto;
  width: 295px;
  overflow: hidden;
}

span {
  margin-right: 12px;
  text-decoration: none;
  font-size: 0.8em;
}

.fa-circle {
  font-size: 60px;
  color: #c1c7d0;
  text-decoration: none;
}

.primarytext {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tag {
  align-items: center;
  margin: auto auto;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

button {
  display: flex;
  justify-content: center;
  margin: 16px 0 26px 0;
  padding: 12px 12px;
  color: #6070ff;
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  text-transform: uppercase;
}

.myself {
  margin: auto auto;
  grid-gap: 5px;
  background: url(images/Baseaboutmyself.svg);
  width: 100%;
  height: auto;
  padding: 20px 30px;
  padding-left: 10%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.action {
  display: flex;
  justify-content: flex-start;
}

.languages {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-bottom: 5%;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.side {
  margin-right: 5%;
}

.skill {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  overflow: hidden;
}

.pull {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;
  margin: 6px auto;
}

.logos {
  width: 48px;
  height: 48px;
  margin-top: 10%;
  margin-left: 10%;
}

.wording {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin-top: 10%;
}

button:hover {
  background-color: #3244e7;
  color: white;
  transition: 0.3s;
}

button:active {
  background-color: #3244e7;
  color: white;
}

footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  background: url(images/contactformshapesmobile.svg);
  height: 779px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 113.85px;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  background-position: right;
  z-index: -999;
}

.bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 103px 9% 0 9%;
  gap: 12px;
  color: white;
  height: auto;
}

.white {
  color: white;
}

form {
  gap: 100px;
  margin-top: 40px;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 50px;
  width: 327px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
  padding-left: 16px;
}

textarea {
  border-radius: 8px;
  height: 75%;
  width: 327px;
  padding-left: 16px;
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.submit {
  display: flex;
  justify-content: left;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
}

.submit:hover {
  background-color: #3244e7;
  color: white;
  transition: 0.2s;
}

.submit:active {
  background-color: #3244e7;
  color: white;
}
